/* style.css */
body, html {
  height: 100%;
  margin: 0;
  font-family: 'Press Start 2P', cursive;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('background.jpeg') no-repeat center center fixed; 
  background-size: cover;
}

.container {
  width: 300px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8); /* Leve fundo branco com transpar?ncia */
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  text-align: center;
  margin-top: 100px;
  color: white;
  text-shadow: 1px 1px 2px black;
}

h1 {
  color: yellow; /* Cor amarela para o t?tulo */
}

.hidden {
  display: none;
}

input[type="text"], input[type="password"], button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-family: 'Press Start 2P', cursive;
  outline: none;
}

button {
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

.message-box {
  margin-top: 10px;
  font-family: 'Press Start 2P', cursive;
  background-color: black; /* Fundo preto para a mensagem */
  padding: 10px;
  border-radius: 5px;
  display: none; /* Inicialmente escondido */
  width: auto;
  text-align: center;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.card {
  width: 100px;
  height: 150px;
  margin: 10px;
  background-color: #eee;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-family: 'Press Start 2P', cursive;
  z-index: 1000;
}

.overlay.hidden {
  display: none;
}

.result-message {
  text-align: center;
}
