/* style.css */
body, html {
  height: 100%;
  margin: 0;
  font-family: 'Press Start 2P', cursive; /* Aplica a fonte aos elementos do corpo */
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('background.jpeg') no-repeat center center fixed; 
  background-size: cover;
}

.container {
  width: 300px;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  text-align: center;
  margin-top: 100px;
}

input[type="text"], input[type="password"], button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-family: 'Press Start 2P', cursive; /* Aplica a fonte a inputs e botões */
  outline: none; /* Remove outline ao focar */
}

button {
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}
