/* style.css */
body, html {
  height: 100%;
  margin: 0;
  font-family: 'Press Start 2P', cursive;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('../../assets/background.jpeg') no-repeat center center fixed;
  background-size: cover;
}

.container {
  width: 300px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  text-align: center;
  margin-top: 100px;
  color: white;
  text-shadow: 1px 1px 2px black;
  position: relative;
}

.sequence-container {
  position: fixed;
  top: 10px;
  right: 10px;
  background-color: rgba(128, 128, 128, 0.8); /* Fundo cinza */
  padding: 5px 10px;
  color: white; /* Texto em branco */
  font-size: 16px;
  border-radius: 5px;
  z-index: 1001;
}

h1 {
  color: yellow;
}

.hidden {
  display: none;
}

input[type="text"], input[type="password"], button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-family: 'Press Start 2P', cursive;
  outline: none;
}

button {
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

.round-button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
  outline: none;
  font-family: 'Press Start 2P', cursive;
}

.round-button:hover {
  background-color: #45a049;
}

.modal-content {
  background-color: rgba(0, 0, 0, 0.8); 
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  text-align: center;
  color: white;
  min-width: 300px;
}

.message-box {
  margin-top: 10px;
  font-family: 'Press Start 2P', cursive;
  background-color: transparent;
  padding: 10px;
  border-radius: 5px;
  display: none;
  width: auto;
  text-align: center;
  color: white;
}

.hand {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.card {
  width: 100px;
  height: 150px;
  margin: 10px;
  background-color: #eee;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.75);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-family: 'Press Start 2P', cursive;
  z-index: 1000;
}

.overlay.hidden {
  display: none;
}

.result-message {
  text-align: center;
}

@keyframes fade {
  from { opacity: 0; transform: translateY(-20px); }
  to { opacity: 1; transform: translateY(0); }
}

.message-animation {
  animation: fade 1s ease-out;
}

.life-bar {
  display: flex;
  margin-top: 10px;
  justify-content: center;
}

.life-bar .life-square {
  width: 40px; 
  height: 40px;
  margin: 0 5px;
  background-color: gray;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: 'Press Start 2P', cursive;
  font-size: 14px;
}

.life-bar .life-square.won {
  background-color: green;
}

.life-bar .life-square.lost {
  background-color: red;
}